body, html {
	height: 100%;
}
/* section heights*/

.section {
	width: 100%;
	min-height: 0vh;
}



#bgImage {
	
	background-image:url('../images/background/aboutBack.jpg'); 
	background-size: 100% 100%; 
	height: 87vh;
	width: 100%;
}



@media only screen and (max-width: 500px) {
	
	#bgLogo {
	margin-top:15%;
	background-size: 100% 100%; 
	height: 50vh;
	width: auto;
	}
	
	#bgImage {
	
	background-image:url('../images/background/aboutBack2.jpg'); 
	background-size: cover; 
	height: 100vh;
	width: 100%;
	}
}